*.o
*.suo
*.dll
*.resources
*.obj
*.FileListAbsolute
*.exe
*.pdb
*.pidb
*.mdb
*.Cache
*.FileListAbsolute.txt
*.pyc
*.userprefs
lex.yy.c
y.tab.c
y.tab.h
src/tac2asm/tac2asm
src/sc2tac/sc2tac
tac/
docs/
mem/
